*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(121, 118, 118);
}
.container{
    height: 70%;
    width: min(350px,70%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0px 20px 20px 20px;
    background-color: rgb(120, 178, 240);
    gap: 30px;
}
.searchBar{
    height: 8%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: whitesmoke;
}
.searchBar input{
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(to right, #5473bc, #4286f4);;
    outline: none;
    border: none;
    box-shadow: none;
}
.searchBar input::placeholder{
    color: rgba(255, 255, 255,1);
    font-size: 15px;
    align-self: center;
}
.searchBar input[type="search"]{
    color: rgb(255, 255, 255);
    padding-left: 20px;
    align-self: center;
    font-size: 15px;
    &::-webkit-search-cancel-button{
        -webkit-appearance: none;
        appearance: none;
        display: none;
    }
}

.searchBar i{
    position: absolute;
    margin-left: 35%;
    align-self: center;
}
.mainContent{
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 121, 229);
    height: 100%;
    width: 100%;
    gap: 30px;
}
.mainWeather{
    background-color: white;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.mainWeatherLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainWeatherRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secondaryWeather{
    background-color: white;
    height: 15%;
    width: 100%;
}



.forecastWeather{
    height: 30%;
    width: 100%;
    background-color: white;
}