*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" ,sans-serif;
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.mainContainer::before{
    content: "";
    background: url(assets/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
}
.container{
    height: min(75%,600px);
    width: min(340px,90%);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
    color: white;
    background: linear-gradient(to top, #263842, #7da5bd);
    margin: 0;
}
@media (max-height: 700px) {
    .container{
        height: 85%;
    }
}
.searchBar{
    height: 10%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    margin-top: 30px;
    background-color: #6a8ea3;
}
.searchBar input{
    flex: 1;
    width: auto;
    min-width: 0;
    border: none;
    height: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #6a8ea3;
    color: white;
}
.searchBar input::placeholder{
    color: white;
    font-size: 15px;
    align-self: center;
}
.searchBar input[type="search"]{
    background-color: #6a8ea3;
    color: white;
    padding-left: 20px;
    align-self: center;
    font-size: 15px;
    caret-color: white;
    &::-webkit-search-cancel-button{
        -webkit-appearance: none;
        appearance: none;
        display: none;
    }
    &:-webkit-autofill{
        -webkit-box-shadow: 0 0 0 30px #6a8ea3 inset !important;
        -webkit-text-fill-color: white !important;
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-stroke-color: rgb(0, 0, 0);
    }
}
#searchBtn {
    align-self: center;
    color: white;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBtnArea {
    flex: 0 0 40px; 
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.displayBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
    width: 100%;
    gap: 20px;
}
.mainWeather{
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

}
.mainWeatherLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 50%;
    gap: 60px;
}

.mainWeatherLeft1{
    display: flex;
    gap: 10px;
}
.mainWeatherLeft img{
    height: 100px;
    width: 100px;
    align-self: flex-start;
}
.mainWeatherLeft1 p{
    font-size: 18px;
}
.mainWeatherRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.mainWeatherRight2{
    display: flex;
    flex-direction: column;
    align-items: end;
}
#temperature{
    font-size: 24px;
}
#clouds{
    text-align: end;
    margin-top: 5px;
}
.secondaryWeather{
    height: 15%;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;

}
.secondaryWeather1{
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 10px;
    padding: 2px;
    align-items: center;
}
.secondaryWeather1 i{
    font-size: 22px;
}
.secondaryWeather1 p{
    font-size: 12px;
}
.secondaryWeather2{
    width: 50%;
    display: flex;
    gap: 10px;
    padding: 2px;
    align-items: center;
    justify-content: end;
}
.secondaryWeather2 i{
    font-size: 22px;
}
.secondaryWeather2 p{
    font-size: 12px;
}
.forecastWeatherMain{
    height: 30%;
    width: 100%;
    display: flex;
    gap: 5%;
}
.forecastWeather{
    height: 80%;
    width: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    background-color: #4e646e;
}
.otherMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}
.otherMessage img{
    height: 200px;
    width: 200px;
    align-self: center;

}
.otherMessage h2{
    margin-top: 30px;
    margin-bottom: 10px;
}
#errorDisplay img{
    width: 230px;
    object-fit: contain;
}
.forecastImg{
    height: 40px;
}
